// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  margin-top: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  }
}

.display-cocktail {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-info {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.container > a {
  margin-bottom: 20px;
  margin-top: 20px;
}
